<a href="https://colab.research.google.com/github/praveensambari/AI-Assignments-18K41A0551/blob/master/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1.Question**
Develop a code for below scenario

In [20]:
year=int(input("Enter year :"))
rem=year%12
print("Reminder :",rem)
scenario={0:"monkey",1:"rooster",2:"dog",3:"pig",4:"rat",5:"ox",6:"tiger",7:"rabbit",8:"dragon",9:"snake",10:"horse",11:"sheep"}
print(scenario[rem])

Enter year :2020
Reminder : 4
rat

# **2.Question**
  A Quick Fox Transport Co. wants to develop an application for calculating amount based on distance and weight of goods. The charges (Amount) to be calculated as per rates given below. 
 
**Input:** Distance to be travel: 520     
        Weight of the goods: 50

**Output:** Amount to be charged: 3120 /-

In [18]:
distance=int(input("Distance to be travel :"))
weight=int(input("weight of the goods :"))
if distance >= 500:
  if weight>= 100:
    cost=5*distance
  elif weight>=10 and weight<100:
    cost=6*distance
  else:
    cost=7*distance

else :
  if weight>= 100:
    cost=8*distance
  else:
    cost=5*distance

print("Amount to be charged :",cost,"/-")

Distance to be travel :520
weight of the goods :50
Amount to be charged : 3120 /-

# **3.Question**
  The Entertainment Paradise

 A theater in Delhi wants to develop a computerized Booking System. The theater offers different types of seats. The Ticket rates are- Stalls- Rs. 625/-, Circle- Rs.750/-, Upper Class- Rs.850/- and Box- Rs.1000/-. A discount is given 10% of total amount if tickets are purchased on Cash. In case of credit card holders 5% discount is given. 

**Input:** 	Type of Seat: Circle    
            Payment mode: cash

**Output:** Cost of ticket: 675

In [31]:
seat=input("Type of Seat :")
pm=input("Payment mode :")
typeofseat={"Stalls":625,"Circle":750,"Upper Class":850,"Box":1000}
if pm=="cash":
  tempcost=typeofseat[seat]*10/100
  cost=typeofseat[seat]-tempcost
else:
  tempcost=typeofseat[seat]*5/100
  cost=typeofseat[seat]-tempcost
print("Cost of ticket:",int(cost))

Type of Seat :Circle
Payment mode :cash
Cost of ticket: 675

# **4.Question**
Develop a program that calculates the energy needed to heat water from an initial temperature to a final temperature. Your program should prompt the user to enter the amount of water in kilograms and the initial and final temperatures of the water. The formula to compute the energy is 

Q = M * (finalTemperature – initialTemperature) * 4184.

where M is the weight of water in kilograms, temperatures are in degrees Celsius,  and energy Q is measured in joules. (L6)

In [36]:
M=int(input("Enter the amount of water in Kg :"))
initial_temp=int(input("Initial Temperature :"))
final_temp=int(input("Final Temperature :"))
Q=M*(final_temp-initial_temp)*4184
print("Energy needed to heat water :",Q)

Enter the amount of water in Kg :5
Initial Temperature :46
Final Temperature :75
Energy needed to heat water : 606680

# **5.Question**
Develop a program that prompts user to enter month and  print  
a.	“Winter ” -   December ,January and February  
b.	“Spring”  -   March ,April and May  
c.	“Summer”  --- June ,July, August  
d.	“Autumn ”  -- September ,October, November

In [40]:
month=input("Enter Month :")
winter=["December","January","February"]
spring=["March","April","May"]
summer=["June","July","August"]
autumn=["September","October","November"]
if month in winter:
  print("Winter")
elif month in spring:
  print("Spring")
elif month in summer:
  print("Summer")
elif month in autumn:
  print("Autumn")
else:
  print("Enter month with capital letter")

Enter Month :March
Spring

# **6.Question**
Body Mass Index

In [50]:
weight_pound=float(input("Enter the Weight in pounds:"))
height_inches=float(input("Enter the Height in inches:"))
weight_kgs=weight_pound*0.45359237
print("Weight in kgs :",weight_kgs)
height_meters=height_inches*0.0254
print("Height in Meters :",height_meters)
BMI=weight_kgs/(height_meters**2)
if BMI<18.5:
  print("Interpretation : Underweight")
elif BMI>=18.5 and BMI<25.0:
  print("Interpretation : Normal")
elif BMI>=25.0 and BMI<30.0:
  print("Interpretation : Overweight")
else:
  print("Interpretation : Obese") 

print("Boby Mass Index :",BMI)

Enter the Weight in pounds:10
Enter the Height in inches:30
Weight in kgs : 4.535923700000001
Height in Meters : 0.762
Interpretation : Underweight
Boby Mass Index : 7.811884218212882

# **7.Question**
Write a program that reads an integer between 100 and 1000 and adds all the digits in the integer  
(	ex: input 745 	# output =16	(7+4+5)	)

In [51]:
num=int(input("Enter the number between 100 and 1000:"))
rem=0
add=0
if num>100 and num<=1000:
    while num>0:
        rem=num%10
        add=add+rem
        num=num//10
    print(add)

Enter the number between 100 and 1000:745
16

# **8.Question**
Print all palindrome numbers between 1 to 1000.

In [61]:
min=int(input("Enter Minimum number :"))
max=int(input("Enter Maximum number :"))
print("palindrome numbers between {} to {} :".format(min, max))
for num in range(min,max):
  temp=num
  rev=0
  while temp>0:
    rem=temp%10
    rev=(rev*10)+rem
    temp=temp//10
  if num==rev:
    print(num,end=" ")

Enter Minimum number :1
Enter Maximum number :1000
palindrome numbers between 1 to 1000 :
1 2 3 4 5 6 7 8 9 11 22 33 44 55 66 77 88 99 101 111 121 131 141 151 161 171 181 191 202 212 222 232 242 252 262 272 282 292 303 313 323 333 343 353 363 373 383 393 404 414 424 434 444 454 464 474 484 494 505 515 525 535 545 555 565 575 585 595 606 616 626 636 646 656 666 676 686 696 707 717 727 737 747 757 767 777 787 797 808 818 828 838 848 858 868 878 888 898 909 919 929 939 949 959 969 979 989 999

# **9.Question**
Print all Armstrong numbers between 1 to 1000.

In [63]:
min=int(input("Enter Minimum number :"))
max=int(input("Enter Maximum number :"))
print("Armstrong numbers between {} to {} :".format(min, max))
for num in range(min,max):
  sum=0
  temp=num
  while temp>0:
    rem=temp%10
    sum=sum+rem**3
    temp=temp//10
  if num==sum:
    print(num,end=" ")

Enter Minimum number :1
Enter Maximum number :1000
Armstrong numbers between 1 to 1000 :
1 153 370 371 407

# **10.Question**
Write a Java program which iterates the integers from 1 to 100. For multiples of three print "Fizz" instead of the number and print "Buzz" for the multiples of five. When number is divided by both three and five, print "fizz buzz".

In [65]:
for i in range(1,100):
    if(i%3==0 and i%5==0):
        print("fizz buzz")
    elif i%3==0:
        print("Fizz")
    elif i%5==0:
        print("Buzz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
fizz buzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
fizz buzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
fizz buzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
fizz buzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
fizz buzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
fizz buzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz

# **11.Question**
Spider Problem: A spider present at the bottom of the well of height H, needs to get out of it, using the slippery wall of the well. It decides to climb up the well; it goes up U meters and slips down D meters in one single step. So, in each step it covers (U-D) meters, and if the spider gets out of the well by covering U meters in the last step it doesn’t a slip back. For example, if the spider climbs up 5 meters and slips down by 3 meters in a single step, it covers (U - D) m in each step and 96 m in 48 steps, but in the 49th step it climbs up 5 m and reaches out of the well and it will not slip down and the step is counted as one step.     
Input: Each test case will contain 3 integers ’H’ height of the well, next ’U’ meters climbs up in each step, and the last ’D’ meters slips down in each step.
Output:  The number of steps 'N' required to get out of the well. 

Example 1: 

 	Input:						Ouput 
	200 50 1					    5
	Example 2:
 	Input:						Output
	500 20 15					   98

In [70]:
H=int(input("Height of well: "))
U=int(input("Meters spider climbs up in each step: "))
D=int(input("Meters spider slips down in each step: "))
steps=0
while H>=U:
  steps=steps+1
  H-=(U-D)
steps+=1
print("Number of Steps :",steps)

Height of well: 200
Meters spider climbs up in each step: 50
Meters spider slips down in each step: 1
Number of Steps : 5