<a href="https://colab.research.google.com/github/praveensambari/AI-Assignments-18K41A0551/blob/master/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1.Question**
Area of Triangle :
Given the lengths of three sides of a triangle, calculate the area of the triangle.

In [ ]:
a=int(input("Enter side A : "))
b=int(input("Enter side B : "))
c=int(input("Enter side C : "))
p=(a+b+c)/2
area=(p*(p-a)*(p-b)*(p-c))** 0.5 
print("Area of Triangle : ",area)

Enter side A : 2
Enter side B : 3
Enter side C : 4
Area of Triangle :  2.9047375096555625

# **2.Question**
Take a string from end user and check if the value is palindrome or not

In [ ]:
str=input(("Enter a string: "))
print("string reverse : ",str[::-1])
if(str==str[::-1]):
      print("The string is a palindrome !")
else:
      print("Not a palindrome !")

Enter a string: abccba
string reverse :  abccba
The string is a palindrome

# **3.Question**
Write a program that reads a year from the user and displays a message 
Indicating whether or not it is a leap year.

In [ ]:
year=int(input("Enter year to be checked:"))
if(year%4==0 and year%100!=0 or year%400==0):
    print("The year is a leap year !")
else:
    print("Not a leap year !")

Enter year to be checked:2000
The year is a leap year !

# **4.Question**
Space To Hyphen problem 
Take a string as input, and replaces spaces “ “  with hyphens “-”, and returns a string.

Input: “ This program converts spaces into hyphen”

Output:     “ This-program-converts-spaces-into-hyphen”

In [ ]:
str=input("Enter a String : ")
for i in range(0,len(str),1):
  if(str[i]==" "):
    str=str.replace(str[i],"-")
print("With Hyphens : ",str)

Enter a String : This program converts spaces into hyphen
With Hyphens :  This-program-converts-spaces-into-hyphen

# **5.Question**
Unique Sort problem 
Take a string as input that accepts a comma separated sequence of words as input and prints the unique words in sorted form (alphanumerically).

*Input*: orange, white, red, cyan, green, magenta, cyan, pink, white

*Output*: cyan, green, magenta, orange, pink, red, white

In [ ]:
words=input("Enter a string: ").split(",")
print(",".join(sorted(list(set(words)))))

Enter a string:  orange, white, red, cyan, green, magenta, cyan, pink, white
 cyan, green, magenta, orange, pink, red, white

# **6.Question**
**Tax Calculator**

Ask the user for their monthly salary. Calculate whether they have to pay tax and if so, how much is that amount .Print the result

In [ ]:
salary=int(input("Enter Monthly salary : "))

if (salary <=250000):
  print("Tax should be payed : Nil")
elif (250001<=salary <=500000):
  tax=((salary-250001)*(5/100))
  print("Tax should be payed ",tax)
elif (500001<=salary <=750000): 
  tax=((salary-500001)*(10/100))
  print("Tax should be payed ",tax)
elif (750001<=salary <=1000000):
  tax=((salary-750001)*(15/100))
  print("Tax should be payed ",tax)
elif (1000001<=salary <=1250000):
  tax=((salary-1000001)*(20/100))
  print("Tax should be payed ",tax)
elif (1250001<=salary <=1500000):  
  tax=((salary-1250001)*(25/100))
  print("Tax should be payed ",tax)
else:
  tax=((salary-1500000)*(30/100))
  print("Tax should be payed ",tax)

Enter Monthly salary : 650000
Tax should be payed  14999.900000000001

# **7.Question**
Take a list of integers as an argument, and converts it into a single integer (return the integer).

*Input*: [11, 33, 50]

*Output*: 113350

In [ ]:
List=[11,33,50]
singleInt=''
for i in range(len(List)):
  singleInt=singleInt+str(List[i])
print(singleInt)

113350

# **8.Question**
**Units of Time**

Create a program that reads duration from the user as a number of days, hours, minutes, and seconds. Compute and display the total number of seconds represented by this duration.

In [ ]:
days=int(input("Enter the number of Days: "))
hours=int(input("Enter the number of Hours: "))
minutes=int(input("Enter the number of Minutes: "))
seconds=int(input("Enter the number of Seconds: "))
m=minutes*60
h=hours*60*60
d=days*24*60*60
TotalSec=d+h+m+seconds;
print("Total number of seconds represented by this duration :",TotalSec,"seconds")

Enter the number of Days: 10
Enter the number of Hours: 9
Enter the number of Minutes: 44
Enter the number of Seconds: 50
Total number of seconds represented by this duration : 899090 seconds

# **9.Question**
**Sort 3 Integers**

Given three integers (given through user input), sort the numbers using |min| and  |max| functions.

In [ ]:
n1=int(input("Enter Integer1 : "))
n2=int(input("Enter Integer2 : "))
n3=int(input("Enter Integer3 : "))
minimum=min(n1,n2,n3)
maximum=max(n1,n2,n3)
mid=(n1+n2+n3)-maximum-minimum
print("Sorted Numbers :",minimum,mid,maximum)

Enter Integer1 : 5
Enter Integer2 : 9
Enter Integer3 : 1
Sorted Numbers : 1 5 9

# **10.Question**
Write a program that reads a date from the user and computes its immediate successor. The date is the format YYYY-MM-DD. So, 2020-04-15 will have the successor 2020-04-16.

In [ ]:
year=int(input("Enter a year : "))
if year%400== 0:
    leapyear=True
elif year%100==0:
    leapyear=False
elif year%4==0:
    leapyear=True
else:
    leapyear=False
month=int(input("Enter a month between 1 to 12 : "))
if month in (1, 3, 5, 7, 8, 10, 12):
    monthlength=31
elif month==2:
    if leapyear:
        monthlength=29
    else:
        monthlength=28
else:
    monthlength=30
day=int(input("Enter a day between 1 to 31 : "))
if day<monthlength:
    day+=1
else:
    day=1
    if month==12:
        month=1
        year+=1
    else:
        month+=1
print("The immediate successor is YYYY-MM-DD : %d-%d-%d." %(year,month,day))

Enter a year : 2020
Enter a month between 1 to 12 : 8
Enter a day between 1 to 31 : 23
The immediate successor is YYYY-MM-DD : 2020-8-24.

# **11.Question**
Compute product of a list of numbers

[45 ,3,2,89,72,1,10,7]

Output: 121111200

In [ ]:
num=[45,3,2,89,72,1,10,7]
n=1
for i in range(len(num)):
    n=n*num[i]
print(n)

121111200

# **12.Question**
Compute given Num_list =  [5, 6,8 ,34,89,1] to get desired output

Output: Out_list=[11,14,42,123,90]

In [ ]:
Num_list=[5,6,8,34,89,1]
Out_list=[]
for i in range(len(Num_list)-1):
    outlist=Num_list[i]+Num_list[i+1]
    Out_list.append(outlist)
print("Out_list=",Out_list)

Out_list= [11, 14, 42, 123, 90]

# **13.Question**
Compute given Num_tuple =  (5, 6,8 ,3,9,1) to get desired output

Output: Out_list = [5, 30, 240, 720, 6480, 6480]

In [ ]:
Num_tuple=(5,6,8,3,9,1)
Out_list=[]
output=1
for i in range(len(Num_tuple)):
    output=output*Num_tuple[i]
    Out_list.append(output)
print("Out_list=",Out_list)

Out_list= [5, 30, 240, 720, 6480, 6480]

# **14.Question**
Write a Python code that takes a number and returns a list of its digits. So for 586392 it should return [5,8,6,3,9,2]

In [ ]:
num=int(input("Enter number :"))
strlist=str(num)
outlist=[]
for i in strlist:
  temp=int(i)
  outlist.append(temp)
print(outlist)

Enter number :586392
[5, 8, 6, 3, 9, 2]

# **15.Question**
Write a program that finds the longest palindromic substring of a given string

In [ ]:
def longestpalindrome(n):
    d=[[False for i in range(len(n))] for i in range(len(n))]
    for i in range(len(n)):
        d[i][i]=True
    maxlen=1
    start=0
    for j in range(2,len(n)+1):
        for i in range(len(n)-j+1):
            end=i+j
            if j==2:
                if n[i]==n[end-1]:
                    d[i][end-1]=True
                    maxlen=j
                    start=i
            else:
                if n[i]==n[end-1] and d[i+1][end-2]:
                    d[i][end-1]=True
                    maxlen=j
                    start=i
    return n[start:start+maxlen]
n=input("Enter a string : ")
print(longestpalindrome(n))

Enter a string : hi madam how are you ?
 madam

# **16.Question**
**Substring Check (Bug Funny)**

Given two binary strings, A (of length 10) and B (of length 5), 

output 1 if B is a substring of A and 0 otherwise.

First two lines of input:

1010110010   &emsp;&emsp;&emsp;        10110

1110111011   &emsp;&emsp;&emsp;        10011

First two lines of output:
<br>
1

0

In [36]:
A=input("Enter binary string of length 10 :")
B=input("Enter binary string of length 5 :")
if (B in A): 
  print("Output=1") 
else: 
  print("Output=")

Enter binary string of length 10 :1010110010
Enter binary string of length 5 :10110
Output=1

# **17.Question**
**POUR1 - Pouring water**
Given two vessels, one of which can accommodate a litres of water and the other - b litres of water, determine the number of steps required to obtain exactly c litres of water in one of the vessels.
At the beginning both vessels are empty. The following operations are counted as 'steps':

•	emptying a vessel,

•	filling a vessel,

•	pouring water from one vessel to the other,

without spilling, until one of the vessels is either full or empty.

**Input**

An integer t, 1<=t<=100, denoting the number of testcases , followed by t sets of input data, each consisting of three positive integers a, b, c, not larger than 40000, given in separate lines.

**Output**

For each set of input data, output the minimum number of steps required to obtain c litres, or -1 if this is impossible.

Example
Sample input:

2

5
2
3

2
3
4
 
Sample output:

2

-1

In [39]:
def ans(a,b,c):
    j=0
    vessel1=0
    vessel2=0
    while vessel1!=c and vessel2!=c:
        if vessel2==0: 
            vessel2=b 
            j+=1
        if vessel1 == a: 
            vessel1 = 0
            j+=1
        if vessel2<a-vessel1:
            temp=vessel2
        else:
            temp=a-vessel1
        vessel1=vessel1+temp
        vessel2=vessel2-temp
        j+=1
    return j
        
n=int(input('Enter number of test cases: '))
for i in range(0,n):
    a=int(input('Enter capacity of A vessel: '))
    b=int(input('Enter capacity of B vessel: '))
    c=int(input('Enter required litres of water: '))
    if a<c and b<c:
        answer=-1
    else:
        if ans(a,b,c)<ans(b,a,c):
            answer=ans(a,b,c)
        else:
            answer=ans(b,a,c)
    print(answer)

Enter number of test cases: 2
Enter capacity of A vessel: 5
Enter capacity of B vessel: 2
Enter required litres of water: 3
2
Enter capacity of A vessel: 2
Enter capacity of B vessel: 3
Enter required litres of water: 4
-1